.education {
	width: 100%;
	background: #EAF2FD;
	padding: 25px;
	display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.education-title{
	font-size: 22px;
	font-weight: 700;
}

.education-courses{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 15px;    
}

.education-course-card {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.education-course-card img{
	background-color: #ffffff;
	padding: 30px 90px;
}
