.hobbies {
	padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
	gap: 25px;
}

.hobbies-title {
    font-size: 22px;
	font-weight: 700;
}

.hobbies-line {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
}

.hobbies-box {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-end;
    gap: 15px;
    padding: 12px;
    width: 180px;
    height: 150px;
    background-color: #fbfbfb;
}

